@font-face{font-family: OpenSans-Regular; src: url(assets/fonts/OpenSans-Regular.ttf)}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'OpenSans-Regular', 'Roboto', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select, textarea, button{
  font-family: -apple-system, BlinkMacSystemFont, 'OpenSans-Regular', 'Roboto', 
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
